@using GlasFlex.Website.Domain.Incident
@inject IIncidentService IncidentService

<div>
    Days since last incident:
    <span id="incident" style="color: darkorange; font-weight: bolder">@_daysSinceLatestIncident</span>
</div>

@code {
    private int _daysSinceLatestIncident;

    override protected async Task OnInitializedAsync()
    {
        _daysSinceLatestIncident = await IncidentService.GetDaysSinceLatestIncidentAsync();
    }
}