@using GlasFlex.Website.Contract.ComplianceContact
@using Microsoft.AspNetCore.Components.Forms

<div class="af-container af-glass">
    <h2>Compliance-Alarm</h2>
    
    <hr class="af-hr" />

    <div>
        <div>
            We were notified, that possibly someone is using light mode.
            While it isn't per se forbidden, we have eyes so we prefer using dark mode.
        </div>

        <div>
            If you have seen a light mode incident, we kindly ask you to
            report it to us using this form. You can write a text, but you
            can also add a video link or make a handdrawn sketch. Everything
            is acceptable.
        </div>

        <div>
            If we more information will be needed four our investigation, we
            will contact you per E-Mail.
        </div>
    </div>

    <hr class="af-hr" />

    <EditForm Model="FormInput" OnValidSubmit="Submit" FormName="complianceForm" class="af-flex af-gap-s af-flex-col">
        <DataAnnotationsValidator />
        <label class="af-flex af-gap-s af-flex-col">
            Your Name
            <InputText class="af-input" @bind-Value="FormInput!.Name" placeholder="Name, Last Name" />
        </label>
        <label class="af-flex af-gap-s af-flex-col">
            E-Mail
            <InputText class="af-input" @bind-Value="FormInput!.Email" placeholder="you@example.ch" type="email" />
        </label>
        <label class="af-flex af-gap-s af-flex-col">
            Short Explanation
            <InputTextArea class="af-input" @bind-Value="FormInput!.Message" placeholder="When, where, what. Explain the incident." />
        </label>

        <ValidationSummary class="af-validation-summary" />

        <div>
            <button type="submit" class="af-button">Send</button>
            <button type="button" class="af-button" @onclick="ClearForm">Clear</button>
        </div>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private ComplianceFormInput? FormInput { get; set; }

    protected override void OnInitialized()
    {
        FormInput = new ComplianceFormInput();
    }

    private void Submit()
    {
        
    }

    private void ClearForm()
    {
        FormInput = new ComplianceFormInput();
    }
}