<footer class="af-glass af-mb-m af-full-width af-p-m">
    <div class="af-h-center">© glas-flex.ch 2025 - @(DateTime.UtcNow.Year)</div>
    <small>
        <strong>Disclaimer:</strong> Owners of glas-flex.ch are not responsible for any
        damage caused to your device or/and network caused by their
        negligence and/or unsufficient programming skills. glas-flex.ch is a
        project done by unprofessional beginners wanting to share their
        experiments.
    </small>
</footer>