@using GlasFlex.Website.Application.Incident

<header class="af-glass af-p-s">
    <div class="af-flex af-v-center">
        <div>
            <img height="100" src="@Assets["img/logo.png"]" alt="Logo" />
        </div>
        <div class="af-flex af-gap-s af-flex-col">
            <div>glas-flex.ch</div>
            <div>
                flexible. transparent. sometimes sensible.
            </div>
        </div>
    </div>

    <div class="af-container af-flex af-gap-m af-v-center af-space-between af-flex-col-tablet">
        <nav class="af-flex af-gap-s af-flex-row af-flex-col-tablet">
            <NavLink class="af-button" href="/">Home</NavLink>
            <NavLink class="af-button" href="/#team">The Team</NavLink>
            <NavLink class="af-button" href="/#contact">Contact</NavLink>
            <NavLink class="af-button" href="/projects" target="_blank">Projects</NavLink>
        </nav>
        <div class="af-flex af-gap-s af-v-center af-flex-col-tablet">
            @*<button class="af-button">Light Mode</button> This will be implemented later, for now only dark mode*@
            <IncidentDisplay />
        </div>
    </div>
</header>