@using GlasFlex.Website.Application.Incident

<header>
    <div>
        <div>
            <img src="@Assets["img/logo.png"]" alt="Logo" />
        </div>
        <div>
            <div>glas-flex.ch</div>
            <div>
                flexible. transparent. sometimes sensible.
            </div>
        </div>
    </div>

    <nav>
        <IncidentDisplay />
        <a href="">About glas-flex</a>
        <a href="">Services</a>
        <a href="">Contact</a>
        <a href="/game.html">Game</a>
        <a href="https://android.glas-flex.ch" target="_blank">About Android</a>
        <a href="https://calcflex.glas-flex.ch" target="_blank">Calcflex Calculator</a>
        <a href="#">Dark Mode</a>
    </nav>
</header>