@inherits LayoutComponentBase

<Header />

<div class="af-glass af-container">
    @Body
</div>

<Footer />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href=".">Reload</a>
    <span class="dismiss">🗙</span>
</div>
