@page "/"
@using GlasFlex.Website.Application.ComplianceContact

<PageTitle>Home</PageTitle>

<section>
    <div>
        <div>
            <h1>Glass, how it should be — flexible enough for tomorrow</h1>
            <p>
                glas-flex is a new Software Programming Studio started by very
                skilled and very unprofessional young software engineers, who love
                speaking Dutch.
            </p>

            <div>
                <div>
                    <div>F</div>
                    <div>
                        <strong>Flexible Software</strong>
                        <div>
                            Fast &amp; useful: we make software, which is working on
                            every device.
                        </div>
                    </div>
                </div>

                <div>
                    <div>L</div>
                    <div>
                        <strong>Legendary Ideas</strong>
                        <div>
                            Games, that no one ever seen before and tools that
                            everybody dreamt of.
                        </div>
                    </div>
                </div>

                <div>
                    <div>E</div>
                    <div>
                        <strong>Exciting Updates</strong>
                        <div>
                            New content coming out almost every week. <br />
                            Sometimes just a button, sometimes a whole new tool.
                        </div>
                    </div>
                </div>

                <div>
                    <div>X</div>
                    <div>
                        <strong>Xpress Support</strong>
                        <div>
                            Report glitches through GitHub discussion or e-mail.
                            They will be fixed.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&autoplay=1">Secure your Flex</a>
            </div>
        </div>

        <div>
            Disclaimer: Owners of glas-flex.ch are not responsible for any
            damage caused to your device or/and network caused by their
            negligence and/or unsufficient programming skills. glas-flex.ch is a
            project done by unprofessional beginners wanting to share their
            experiments.
        </div>
    </div>

    <ComplianceForm />
</section>